{% extends 'Index.html' %}

{% block Slider %} 
<br>
<div class="p-t-60" align="center" style="background:lightgrey;">
    <h3>
        RESET PASSWORD 
    </h3><br>
    <h3>{{msg}}</h3>
<form method="post">
    {% csrf_token %}
    
    <input type="hidden" name="customer_id" value="{{customer_id}}" />

    <div class="bor19 size-218 m-b-30">
        <input class="stext-111 cl2 plh3 size-116 p-lr-18" type="password" name="newpassword" placeholder="New Password *">
    </div>
    <div class="bor19 size-218 m-b-30">
        <input class="stext-111 cl2 plh3 size-116 p-lr-18" type="password" name="confirmpassword" placeholder="Confirm  Password *">
    </div>
   

    <button class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
        Reset Password
    </button>
    <br>
</form>
<br>
</div>
{% endblock Slider %} 

{% block Banner %} 
{% endblock Banner %} 

{% block Products %} 
{% endblock Products %} 

